body {
    background-image: linear-gradient(black, darkmagenta);
    color: white;
    color: dark;
    font-family: 'Courier New', Courier, monospace;
}
.head-container {
    width: 1148px;
    height: 169px;
    margin: 10px auto;
    display: flex;
    /* background-color: pink; */
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 256px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;

}
.links {
    width: 845px;
    display: flex;
    justify-content: space-between;
    
}

.links li {
    font-size: 20px;
    display: inline;
    margin-right: 20px;    
}

section {
    display: flex;
    justify-content: flex-end;
}